<!DOCTYPE>
<html>
	<head>
		<title>CPWS</title>
		<link href="src/css/style.css" rel="stylesheet" type="text/css" />
		<link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
        <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	</head>
	<body>
		<div class="container">
            <h1>CPWS</h1>
            <p>Hello, world this is CPWS!</p>
		</div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	</body>
</html>