body {
	margin:0;
	padding:0;
	width:100%;
	font-family: 'Dosis', sans-serif;
}
header {
    height: 80px;
    display:block;
    background:rgb(54,56,78);
    z-index: 1;
    position: relative;
}
nav {
     background:rgb(72,75,104);
     position:fixed;
     left:0;
     top:0;
     width:80px;
     height:100%;
}
.logo-container {
    height:100%;
    display:inline-block;
}
.underline {
    text-decoration:underline;
}
.logo-container img {
    max-width:170px;
    margin-top:15px;
    margin-left:15px;
}
.error-message {
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 14px;
    text-align: left;
}
.container-fluid.has-sidebar {
    padding-left: 95px;
}