[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
body {
	margin:0;
	padding:0;
	width:100%;
	/*font-family: 'Lato', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    color:#333;
}
p {
    color: #666;
}
header {
    height: 80px;
    display:block;
    background:rgb(54,56,78);
    z-index: 1;
    position: relative;
}
nav {
     background:rgb(72,75,104);
     position:fixed;
     left:0;
     top:0;
     height:100%;
     width:25%;
     padding-top:30px;
     padding-left:30px;
}
nav a {
    display:block;
    color:#fff;
    font-size:20px;
    padding:20px 10px;
    cursor:pointer;
}
nav a .fa {
    width:40px;
    font-size:25px;
}
.fa.fa-desktop {
    position: relative;
    top: 4px;
}
.fa.fa-sign-out {
    position: relative;
    top: 3px;
}
nav a:hover, nav a:active, nav a:focus {
    color:#fff;
    text-decoration:none;
}
.logo-container {
    height:100%;
    display:inline-block;
}
.underline {
    text-decoration:underline;
}
.logo-container img {
    max-width:170px;
    margin-top:15px;
    margin-left:15px;
}
.error-message {
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 14px;
    text-align: left;
}
.container-fluid.has-sidebar {
    width:75%;
    margin-left:25%;
}
.sidebar {
    background: rgb(54,56,78);
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:25%;
}
.login {
    width:75%;
    margin-left:25%;
    padding:50px;
}
input.form-control {
    height:60px;
    border-radius:2px;
    font-size: 18px;
}
button {
    min-width: 200px;
    height:50px;
}

.container-fluid.True  {
  animation: fadeIn 0.5s;
}