[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
body {
	margin:0;
	padding:0;
	width:100%;
	font-family: 'Droid Sans', sans-serif;
    font-size:16px;
    color:#333;
}
p {
    color: #666;
}
.navbar {
    border-radius:0;
    min-height: 80px;
    margin-bottom:0;
}
.header {
    height: 80px;
    display:block;
    background:rgb(54,56,78);
    z-index: 1;
    position: relative;
}
.side-nav {
     background:rgb(72,75,104);
     position:fixed;
     left:0;
     top:0;
     height:100%;
     width:25%;
     padding-top:30px;
     padding-left:30px;
}
.side-nav a {
    display:block;
    color:#fff;
    font-size:20px;
    padding:20px 10px;
    cursor:pointer;
}
.side-nav a .fa {
    width:40px;
    font-size:25px;
}
.fa.fa-desktop {
    position: relative;
    top: 4px;
}
.fa.fa-sign-out {
    position: relative;
    top: 3px;
}
nav a:hover, nav a:active, nav a:focus {
    color:#fff;
    text-decoration:none;
}
.logo-container {
    height:100%;
    display:inline-block;
}
.underline {
    text-decoration:underline;
}
.logo-container img {
    max-width:170px;
    margin-top:15px;
    margin-left:15px;
}
.error-message {
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 14px;
    text-align: left;
}
.container-fluid.has-sidebar {
    width:75%;
    margin-left:25%;
}
.sidebar {
    background: rgb(54,56,78);
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:25%;
}
.login {
    width:75%;
    margin-left:25%;
    padding:50px;
}
input.form-control {
    height:60px;
    border-radius:2px;
    font-size: 18px;
}
.container-fluid.True  {
  animation: fadeIn 0.5s;
}
p.alert {
    margin-top:10px;
    padding: 5px 15px;
}
.full-widht {
    width:100%;
}
.btn {
    height:55px;
}
h1 {
    padding:0;
    margin:0;
}
.dark-blue-bg {
    background:#06283d;
}
.main-image {
    background:#ccc;
}
.text-center {
    text-align:center;
}
.feature {
    padding-bottom:30px;
}
.feature h2 {
    color:#fff;
    text-transform:uppercase;
    margin:70px 0 20px 0;
}
.feature .fa {
    color:#fff;
    font-size:50px;
}
.feature h3 {
    color:#fff;
}
.green-text {
     color: #5cb85c;
}
.steps {
    margin-top:50px;
}
.supports {
     padding-bottom:80px;
     color:#fff;
}
.supports h2 {
    color:#fff;
    text-transform:uppercase;
    margin-top:70px;
}
.supports .fa {
    color:#5cb85c;
    font-size:50px;
}
.supports img {
     height:50px;
}
.supports .col-md-3 {
    margin-top:50px;
}
.main-image img {
	max-width:100%;
}