<!DOCTYPE>
<html>
	<head>
		<title>CPWS | Index</title>
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,700,400italic,300,700italic' rel='stylesheet' type='text/css'>
        <link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="container">
            <h1>CPWS</h1>
            <p>Hello, world this is CPWS!</p>
		</div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
	</body>
</html>