<!DOCTYPE>
<html>
	<head>
		<title>APIs | HOME</title>
        <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
        <link href="libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <link href="css/fas/css/font-awesome.min.css" rel="stylesheet" />
	</head>
	<body>
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><i class="fa fa-terminal"></i> APIs</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">LOG IN</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>
		<div class="container-fluid">
            <div class="row">
                <div class="clo-lg-12 main-image">
                    <div class="clo-lg-12">
						<img src="/img/api.png" />
                        <h1>APIs</h1>
                        <p>Build your API in few step!</p>
                    </div>
                </div>
            </div>
            <div class="row dark-blue-bg feature">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2>How to build your APIs in <span class="green-text">our system</span></h2>
                            <p>We provide the simple steps that's helps you get started fast! </p>
                        </div>
                    </div>
                    <div class="row steps">
                        <div class="col-md-4 text-center">
                            <div><i class="fa fa-user-plus"></i></div>
                            <h3>Create an account</h3>
                        </div>
                        <div class="col-md-4 text-center">
                            <i class="fa fa-cubes"></i>
                            <h3>Create your data</h3>
                        </div>
                        <div class="col-md-4 text-center">
                            <i class="fa fa-share-alt"></i>
                            <h3>Provide the URLs</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row dark-blue-bg supports">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2>Create once use in <span class="green-text">all platforms</span></h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <img src="/img/web.png" />
                            <h3>Web</h3>
                        </div>
                        <div class="col-md-3 text-center">
                            <img src="/img/angular-icon.png" />
                            <h3>AngularJS</h3>
                        </div>
                        <div class="col-md-3 text-center">
                            <img src="/img/nodejs.png" />
                            <h3>Node.js</h3>
                        </div>
                        <div class="col-md-3 text-center">
                            <img src="/img/php-logo.png" />
                            <h3>php</h3>
                        </div>
                        <div class="col-md-3 text-center">
                            <img src="/img/ruby.png" />
                            <h3>Ruby</h3>
                        </div>
                        <div class="col-md-3 text-center">
                            <img src="/img/python.png" />
                            <h3>Python</h3>
                        </div>
                        <div class="col-md-3 text-center">
                            <img src="/img/ios.png" />
                            <h3>IOS</h3>
                        </div>
                        <div class="col-md-3 text-center">
                            <i class="fa fa-android"></i>
                            <h3>Android</h3>
                        </div>
                        <div class="col-md-4 text-center">

                        </div>
                        <div class="col-md-4 text-center">
                            <img src="/img/infinity.png" />
                            <h3>Whatever</h3>
                        </div>
                        <div class="col-md-4 text-center">
                        </div>
                    </div>
                </div>
            </div>
		</div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script type="text/javascript">if(!window.jQuery) {document.write("<script type=\"text/javascript\" src=\"/libs/jquery/dist/jquery.min.js\"><\/script>");}</script>
        <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
	</body>
</html>