<div class="logo-container">
    <div class="logo-circle">
        <img src="img/logo-r.png" alt="logo">
    </div>
</div>
<div class="menu">
    <a href="/dashboard" class="active"><i class="fa fa-desktop"></i> Dashboard <span class="arrow-left"></span></a>
    <a href="/dashboard#/pages"><i class="fa fa-file-text-o"></i> Pages</a>
    <a href="/dashboard#/apis"><i class="fa fa-share-alt"></i> APIs</a>
    <a href="/dashboard#/class"><i class="fa fa-database"></i> Class</a>
    <a href="/dashboard#/profile"><i class="fa fa-user"></i> Users</a>
    <a ng-click="logout()"><i class="fa fa-sign-out"></i> Log Out</a>
</div>